.MainHeading{
    border-bottom: 1px solid black;
    padding: 5px;
}
.subHeading{
    padding: 5px;
}
.InputField{
    width: 260px;
    height: 30px;
}
.btn{
    width: 270px;
    height: 40px;
    color: white;
    background-color:rgba(51, 51, 173, 0.592);
    border: none;
}